<div class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, delectus neque dignissimos dolores. Iure, hic totam tempora maxime eius assumenda similique quis quas enim. Nemo at soluta, quo amet doloremque!</p>
	</div>
</div>
